.content1{
    background-color: #090909;
    padding-top: 80px;
    padding-bottom: 70px;

}


.title-content
{
    text-align: center;
    font-size: 6vh;
    letter-spacing: 8px;
    color: #F5F5F5;
}

.para-content
{
    text-align: center;
    margin-top: 20px;
    font-size: 1rem;
    font-weight: lighter;
    word-spacing: 1px;
    color: #F5F5F5;
}

.btn-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    padding: 20px;
    margin-top: 10px;
    color: #F5F5F5;
}


.content2{
    margin: 5rem 0;
    margin-bottom: 8rem;
    
}

.content2 h4{
    text-align: center;
    font-size: 6vh;
    letter-spacing: 2px;
    margin-bottom: 80px;
    
    
}

.gifs img{
    height: 400px;
    width:400px;
    box-shadow: rgba(119, 119, 119, 0.2) 0px 2px 8px 0px;
    border-radius: 12px;
    
    
}

.gifs{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 20px;

}

.seeMore-btn
{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 70px;
    gap: 10px;
    padding: 12px;
    cursor: pointer;
    margin-top: 20px;
}

.seeMore-btn img
{
    height: 30px;
    width: 30px;
    align-items: center;
    
}

.seeMore-btn button
{
    border: none;
    background-color: transparent;
    color: #121619;
    font-size: 15px;
    cursor: pointer;
    font-size: 20px;
    align-items: center;
}


.seeMore-btn button:hover{
    color: #FC4F00;
}